{{#if error}}
<p class="countdown__error">
  The timer for this module could not be loaded and you
  will not be able to move forward in the course. Please
  contact support to report the error.
</p>
{{else}}
{{#if timerComplete}}
<p class="countdown__message">Time Requirement Met</p>
{{else}}
<p class="countdown__display">{{remainingTime}}</p>
<p class="countdown__message">Time Remaining in Module</p>
{{/if}}
{{#if courseComplete}}
<button class="countdown__navigate button" id="quiz-btn">
  Continue Module
</button>
{{/if}}
{{/if}}